<section class="hero has-background-black-ter">
  <div class="hero-body has-text-centered">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-danger">Favorites</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-multiline is-centered">
    <% if current_user.favorited_cheatsheets.any? %>
      <%= render partial: 'cheatsheets/cheatsheet', collection: current_user.favorited_cheatsheets %>
    <% end %>
  </div>
</section>
