<% if current_user %>
  <% unless current_user.favorited_cheatsheets.exists?(id: cheatsheet.id) %>
    <%= link_to favorites_path(cheatsheet_id: cheatsheet), method: :post, class: style do %>
      <span class="icon is-small has-text-grey">
        <i class="far fa-bookmark"></i>
      </span>
    <% end %>
  <% else %>
    <%= link_to favorite_path(cheatsheet), method: :delete, class: style do %>
      <span class="icon is-small has-text-danger">
        <i class="fas fa-bookmark"></i>
      </span>
    <% end %>
  <% end %>
<% end %>
