<% if object.errors.any? %>
  <div class="form-errors">
    <h5>Your form could not be saved.</h5>
    <p>
      Please correct the following
      <%= pluralize(object.errors.size, "error") %>
    </p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
