<table class="table is-fullwidth table is-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @public_cheatsheets.each.with_index(1) do |cheatsheet, index| %>
      <tr>
        <th><%= index %></th>
        <th><%= link_to cheatsheet.title, cheatsheet %></th>
        <td><%= cheatsheet.created_at.strftime("%B %d, %Y") %></td>
        <td><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
