<div class="column is-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"><%= link_to truncate(cheatsheet.title, length: 50, separator: ' '), cheatsheet %></p>
    </header>
    <div class="card-content">
      <div class="content">
        <p><small><strong>Author:</strong> <%= link_to cheatsheet.user.username, cheatsheet.user %></small></p>
        <div>
          <p><small><strong>Created: </strong><%= cheatsheet.created_at.strftime("%B %d, %Y") %></small></p>
          <p><small><strong>Updated: </strong><%= cheatsheet.updated_at.strftime("%B %d, %Y") %></small></p>
        </div>
        <p><small>#hashtags</small></p>
      </div>
    </div>
  </div>
</div>
