<section class="section">
  <h1 class="title has-text-centered">Edit Cheatsheet</h1>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= render 'form' %>
    </div>
  </div>
</section>
