<section class="section content">
  <div class="container">
    <h1 class="title has-text-centered">
      Cheatsheets Collection
    </h1>

    <div class="columns">
      <div class="column is-3">
        <%= render "panel" %>
      </div>

      <div class="column">
        <div class="columns is-multiline is-mobile">
          <div class="column is-one-third">
            <%= render partial: 'cheatsheets/cheatsheet', collection: @cheatsheets %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
