<section class="section content">
  <div class="container">
    <h1 class="title has-text-centered">
      Cheatsheets Collection
    </h1>

    <div class="columns">
      <div class="column is-3">
        <%= render "panel" %>
      </div>

      <div class="column">
        <div class="columns is-multiline is-mobile">
          <% @cheatsheets.map do |cheatsheet| %>
            <div class="column is-one-quarter">
              <div class="box">
                <div class="media-content">
                  <div class="content">
                    <h5><strong><%= link_to cheatsheet.title, cheatsheet %></strong></h5>
                    <p><strong>Author:</strong> <%= link_to cheatsheet.user.username, cheatsheet.user %></p>
                    <p><small><%= cheatsheet.created_at.strftime("%B %d, %Y") %><br /></small></p>
                    
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</section>
