<section class="hero has-background-black-ter">
  <div class="hero-body has-text-centered">
    <div class="column is-half is-offset-one-quarter">
      <h1 class="title has-text-danger">Search</h1>
      <p class="control has-icons-left">
        <input class="input is-danger" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-multiline">
    <%= render partial: 'cheatsheets/cheatsheet', collection: @cheatsheets %>
  </div>
</section>
