<section class="section">
  <h1 class="title has-text-centered">New Cheatsheet</h1>
  <div class="columns">
    <div class="column is-10 is-vcentered container">
      <%= render 'form' %>
    </div>
  </div>
</section>
