<section class="section content content_min-height has-background-black-ter is-medium">
  <div class="container has-text-centered">
    <h1 class="title has-text-danger is-size-1">
      Cheatsheets
    </h1>
    <p class="subtitle has-text-grey has-text-weight-bold is-size-5">
      Collection of cheatsheets for your web development needs & reference
    </p>
  </div>
  <div class="column is-three-fifths is-offset-one-fifth mt-4 has-text-centered">
    <% @tags.map do |hashtag| %>
      <% if is_main_tag?(hashtag) %>
        <%= change_hashtag_to_link(hashtag.name, style="tag is-dark is-medium mb-2") %>
      <% end %>
    <% end %>
  </div>
</section>
