<footer class="fixed-footer has-background-dark has-text-centered">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="social column">
        <p class="has-text-grey mb-4">
          <small>
            Created with
              <span class="has-text-danger px-1">
                <i class="fas fa-heart"></i>
              </span>
            by <span class="has-text-weight-bold">tinawebdev</span>
          </small>
        </p>
        <a href="https://github.com/tinawebdev" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://teleg.run/codingkris" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
        <a href="https://instagram.com/tinawebdev" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://linkedin.com/in/tinawebdev" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
